*.o
*.p
!cmds/gnu/gawk/test/book.good/heapsort.p
!cmds/gnu/gawk/test/chem/*.p
*.q
**/TRAN/*.s
*.lib
*.d
*.def
*.i
*.sa
*.si
*.p4
*.p8
*.t4
*.t8
*.o4
*.o8
*.orig
*.diff
*.patch
*.rej
*~
emacs.bak
\#*#
RCS
CVS
install
Xinstall
installdef
y.tab.c
y.tab.h
y.output
yacc.acts
yacc.debug
yacc.tmp
a.out
*.ghof
/Embedded/esysbuild/ARM/esysbuild
/Embedded/esysbuild/C40/sysbuild2
/Embedded/esysbuild/RS6000/esysbuild
/Embedded/esysbuild/SUN4/esysbuild
/Embedded/esysbuild/SUN4/makefile,v
/Embedded/esysbuild/TRAN/esysbuild
/Embedded/esysbuild/TRAN/sysbuild2
/Embedded/romserver/ARM/romnuc
/Embedded/romserver/ARM/romservn
/Embedded/romserver/C40/romnuc
/Embedded/romserver/C40/romservf
/Embedded/romserver/C40/romservn
/Embedded/romserver/TRAN/romnuc
/Embedded/romserver/TRAN/romserv
/Embedded/romserver/TRAN/romservf
/Embedded/romserver/TRAN/romservn
/Embedded/utilities/C40/imagesplit
/Embedded/utilities/C40/rom_split
/Embedded/utilities/TRAN/imagesplit
/Embedded/utilities/TRAN/rom_split
/Embedded/utilities/imagesplit
/cmds/ampp/C40/ampp
/cmds/ampp/HELIOSC40/ampp
/cmds/ampp/HELIOSTRAN/ampp
/cmds/ampp/R140/ampp
/cmds/ampp/RS6000/ampp
/cmds/ampp/SUN4/ampp
/cmds/ampp/TRAN/ampp
/cmds/asm/HELIOSTRAN/asm
/cmds/asm/HELIOSTRAN/keyform
/cmds/asm/HELIOSTRAN/objdump
/cmds/asm/RS6000/asm
/cmds/asm/RS6000/keyform
/cmds/asm/RS6000/objdump
/cmds/asm/SUN4/asm
/cmds/asm/SUN4/keyform
/cmds/asm/SUN4/objdump
/cmds/asm/TRAN/asm
/cmds/asm/TRAN/keyform
/cmds/asm/TRAN/objdump
/cmds/assembler/ARM/lex_ARM.o.ok
/cmds/assembler/C40/as
/cmds/assembler/C40/binhdr
/cmds/assembler/RS6000/asarm
/cmds/assembler/RS6000/asc40
/cmds/assembler/RS6000/asm68k
/cmds/assembler/RS6000/binhdr
/cmds/assembler/SUN4/asc40
/cmds/assembler/SUN4/binhdr
/cmds/cc/compiler/HELIOSTRAN/nc
/cmds/cc/compiler/SUN4/nc
/cmds/cc/ncc/cc450/RS6000/ccarm
/cmds/cc/ncc/cc450/RS6000/genhdrs
/cmds/cc/ncc/cc450/TRAN/genhdrs
/cmds/cc/ncc/cc450/TRAN/headers
/cmds/cc/compiler/TRAN/nc
/cmds/cdl/RS6000/cdl
/cmds/cdl/TRAN/cdl
/cmds/cmdtests/TRAN/testsuite
/cmds/com/C40/ascii
/cmds/com/C40/atob
/cmds/com/C40/basename
/cmds/com/C40/bsplit
/cmds/com/C40/btoa
/cmds/com/C40/c
/cmds/com/C40/cache
/cmds/com/C40/cal
/cmds/com/C40/cat
/cmds/com/C40/chmod
/cmds/com/C40/clear
/cmds/com/C40/cmp
/cmds/com/C40/compress
/cmds/com/C40/compress.14
/cmds/com/C40/cp
/cmds/com/C40/date
/cmds/com/C40/df
/cmds/com/C40/dirname
/cmds/com/C40/du
/cmds/com/C40/dump
/cmds/com/C40/false
/cmds/com/C40/find
/cmds/com/C40/gdi
/cmds/com/C40/idrom
/cmds/com/C40/lb
/cmds/com/C40/ln
/cmds/com/C40/ls
/cmds/com/C40/map
/cmds/com/C40/mem
/cmds/com/C40/mkdir
/cmds/com/C40/mv
/cmds/com/C40/objed
/cmds/com/C40/od
/cmds/com/C40/refine
/cmds/com/C40/rm
/cmds/com/C40/rmdir
/cmds/com/C40/sleep
/cmds/com/C40/slice
/cmds/com/C40/sysbreak
/cmds/com/C40/sysbuild
/cmds/com/C40/tcp
/cmds/com/C40/tee
/cmds/com/C40/test
/cmds/com/C40/threadps
/cmds/com/C40/toshell
/cmds/com/C40/touch
/cmds/com/C40/true
/cmds/com/C40/waitfor
/cmds/com/C40/which
/cmds/com/C40/whichend
/cmds/com/C40/wsh
/cmds/com/SUN4/gdi
/cmds/com/SUN4/gdic40
/cmds/com/SUN4/sysbreak
/cmds/com/SUN4/sysbuild.sav
/cmds/com/TRAN/ascii
/cmds/com/TRAN/atob
/cmds/com/TRAN/basename
/cmds/com/TRAN/bsplit
/cmds/com/TRAN/btoa
/cmds/com/TRAN/c
/cmds/com/TRAN/cache
/cmds/com/TRAN/cal
/cmds/com/TRAN/cat
/cmds/com/TRAN/chmod
/cmds/com/TRAN/clear
/cmds/com/TRAN/cmp
/cmds/com/TRAN/compress
/cmds/com/TRAN/compress.14
/cmds/com/TRAN/cp
/cmds/com/TRAN/date
/cmds/com/TRAN/df
/cmds/com/TRAN/dirname
/cmds/com/TRAN/du
/cmds/com/TRAN/dump
/cmds/com/TRAN/false
/cmds/com/TRAN/find
/cmds/com/TRAN/gdi
/cmds/com/TRAN/lb
/cmds/com/TRAN/ln
/cmds/com/TRAN/loadpac
/cmds/com/TRAN/ls
/cmds/com/TRAN/map
/cmds/com/TRAN/mem
/cmds/com/TRAN/mv
/cmds/com/TRAN/mkdir
/cmds/com/TRAN/objed
/cmds/com/TRAN/od
/cmds/com/TRAN/refine
/cmds/com/TRAN/rm
/cmds/com/TRAN/rmdir
/cmds/com/TRAN/sleep
/cmds/com/TRAN/sysbreak
/cmds/com/TRAN/sysbuild
/cmds/com/TRAN/tcp
/cmds/com/TRAN/tee
/cmds/com/TRAN/test
/cmds/com/TRAN/touch
/cmds/com/TRAN/true
/cmds/com/TRAN/waitfor
/cmds/com/TRAN/which
/cmds/com/TRAN/whichend
/cmds/debugger/TRAN/tla
/cmds/debugger/lib/TRAN/dlib
/cmds/emacs.311/ARM/emacs
/cmds/emacs.311/RS6000/me
/cmds/emacs.311/SUN3/me
/cmds/emacs.311/SUN4/me
/cmds/emacs.311/TRAN/emacs
/cmds/emacs/ARM/emacs
/cmds/emacs/TRAN/emacs
/cmds/games/TRAN/arithmet
/cmds/games/TRAN/back
/cmds/games/TRAN/battship
/cmds/games/TRAN/bj
/cmds/games/TRAN/cg
/cmds/games/TRAN/craps
/cmds/games/TRAN/fish
/cmds/games/TRAN/greed
/cmds/games/TRAN/maze
/cmds/games/TRAN/moo
/cmds/games/TRAN/mz
/cmds/games/TRAN/number
/cmds/games/TRAN/paranoia
/cmds/games/TRAN/puzzle
/cmds/games/TRAN/rain
/cmds/games/TRAN/random
/cmds/games/TRAN/rot
/cmds/games/TRAN/ski
/cmds/games/TRAN/ttt
/cmds/games/TRAN/wump
/cmds/games/ogre/TRAN/ogre
/cmds/gnu/bison/C40/bison
/cmds/gnu/flex/C40/flex
/cmds/gnu/flex/TRAN/flex
/cmds/gnu/gawk/C40/gawk
/cmds/gnu/gmake/ARM/make
/cmds/gnu/gmake/TRAN/make
/cmds/gnu/gtar/C40/gtar
/cmds/gnu/gtar/TRAN/gtar
/cmds/gnu/gtar/TRAN/tar
/cmds/help/ARM/dbbuild
/cmds/help/ARM/dbdump
/cmds/help/ARM/dbprint
/cmds/help/ARM/help
/cmds/help/ARM/truncate
/cmds/help/HELIOSC40/dbmake
/cmds/help/HELIOSTRAN/dbbuild
/cmds/help/HELIOSTRAN/dbdump
/cmds/help/HELIOSTRAN/dbmake
/cmds/help/HELIOSTRAN/dbprint
/cmds/help/HELIOSTRAN/help
/cmds/help/HELIOSTRAN/truncate
/cmds/help/RS6000/dbbuild
/cmds/help/RS6000/dbdump
/cmds/help/RS6000/dbmake
/cmds/help/RS6000/dbprint
/cmds/help/RS6000/help
/cmds/help/RS6000/truncate
/cmds/help/SUN4/dbmake
/cmds/help/TRAN/dbbuild
/cmds/help/TRAN/dbbuild.wrd
/cmds/help/TRAN/dbdump
/cmds/help/TRAN/dbprint
/cmds/help/TRAN/help
/cmds/help/TRAN/truncate
/cmds/hobjasm/R140/hobjasm
/cmds/hobjasm/RS6000/hobjasm
/cmds/hostutil/R140/brom
/cmds/hostutil/R140/bromitem
/cmds/hostutil/R140/brompad
/cmds/hostutil/R140/buildconfig
/cmds/hostutil/R140/buildkeymap
/cmds/hostutil/R140/buildtime
/cmds/hostutil/R140/c
/cmds/hostutil/R140/cbin
/cmds/hostutil/R140/dump
/cmds/hostutil/R140/dumpa
/cmds/hostutil/R140/gencodes
/cmds/hostutil/R140/genhdr
/cmds/hostutil/R140/graycode
/cmds/hostutil/R140/linktest
/cmds/hostutil/R140/newmotd
/cmds/hostutil/R140/objed
/cmds/hostutil/R140/romsplit
/cmds/hostutil/R140/squash
/cmds/hostutil/R140/sysbuild
/cmds/hostutil/R140/sysstrip
/cmds/hostutil/RS6000/buildkeymap
/cmds/hostutil/RS6000/c
/cmds/hostutil/RS6000/gencodes
/cmds/hostutil/RS6000/newmotd
/cmds/hostutil/RS6000/objed
/cmds/hostutil/RS6000/squash
/cmds/hostutil/RS6000/sysbuild
/cmds/hostutil/SUN4/buildkeymap
/cmds/hostutil/SUN4/buildtime
/cmds/hostutil/SUN4/c
/cmds/hostutil/SUN4/gencodes
/cmds/hostutil/SUN4/newmotd
/cmds/hostutil/SUN4/objed
/cmds/hostutil/SUN4/squash
/cmds/hostutil/SUN4/sysbuild
/cmds/hostutil/TRAN/buildtime
/cmds/hostutil/TRAN/gencodes
/cmds/hostutil/TRAN/newmotd
/cmds/hostutil/TRAN/squash
/cmds/linker/C40/disas
/cmds/linker/C40/imdump
/cmds/linker/C40/ld
/cmds/linker/C40/objdump
/cmds/linker/R140/armdisas
/cmds/linker/R140/armld
/cmds/linker/R140/armobjdump
/cmds/linker/R140/imdump
/cmds/linker/R140/mkout
/cmds/linker/RS6000/disasarm
/cmds/linker/RS6000/disasc40
/cmds/linker/RS6000/imdump
/cmds/linker/RS6000/ldarm
/cmds/linker/RS6000/ldc40
/cmds/linker/RS6000/ldm68k
/cmds/linker/RS6000/objdumparm
/cmds/linker/RS6000/objdumpc40
/cmds/linker/SUN4/disasc40
/cmds/linker/SUN4/imdump
/cmds/linker/SUN4/ldc40
/cmds/linker/SUN4/objdumpc40
/cmds/make/ARM/make
/cmds/make/TRAN/make
/cmds/private/C40/ansitest
/cmds/private/C40/artst
/cmds/private/C40/atst
/cmds/private/C40/b2
/cmds/private/C40/bounce
/cmds/private/C40/dbg
/cmds/private/C40/dbt
/cmds/private/C40/dhry
/cmds/private/C40/disktest
/cmds/private/C40/enable
/cmds/private/C40/format
/cmds/private/C40/free
/cmds/private/C40/linkcat
/cmds/private/C40/links
/cmds/private/C40/maxlat
/cmds/private/C40/memsearch
/cmds/private/C40/mtime
/cmds/private/C40/pause
/cmds/private/C40/portcnt
/cmds/private/C40/portown
/cmds/private/C40/ports
/cmds/private/C40/szal
/cmds/private/C40/timeio
/cmds/private/C40/trail
/cmds/private/TRAN/ansitest
/cmds/private/TRAN/b2
/cmds/private/TRAN/boot
/cmds/private/TRAN/bounce
/cmds/private/TRAN/dbg
/cmds/private/TRAN/dbt
/cmds/private/TRAN/dhry
/cmds/private/TRAN/disktest
/cmds/private/TRAN/enable
/cmds/private/TRAN/format
/cmds/private/TRAN/free
/cmds/private/TRAN/linkcat
/cmds/private/TRAN/links
/cmds/private/TRAN/memsearch
/cmds/private/TRAN/mtime
/cmds/private/TRAN/pause
/cmds/private/TRAN/portcnt
/cmds/private/TRAN/portown
/cmds/private/TRAN/ports
/cmds/private/TRAN/remotetf
/cmds/private/TRAN/szal
/cmds/private/TRAN/timeio
/cmds/private/TRAN/trail
/cmds/public/clock/ARM/gdc
/cmds/public/clock/TRAN/gdc
/cmds/public/cookie/ARM/cookhash
/cmds/public/cookie/ARM/cookie
/cmds/public/cookie/TRAN/cookhash
/cmds/public/cookie/TRAN/cookie
/cmds/public/ed/C40/ed
/cmds/public/ed/TRAN/ed
/cmds/public/rcs/src/rcsdiff
/cmds/public/rcs/src/rcsmerge
/cmds/public/sed/C40/sed
/cmds/public/sed/TRAN/sed
/cmds/public/spreadsh/ARM/sc
/cmds/public/spreadsh/TRAN/sc
/cmds/public/spreadsh/gram.c
/cmds/public/staff/TRAN/bsplit
/cmds/public/staff/TRAN/ox
/cmds/public/staff/primes/C40/genprimes
/cmds/public/stevie/C40/stevie
/cmds/public/yacc-1.4/RS6000/byacc
/cmds/public/yacc-1.4/TRAN/yacc
/cmds/shell/C40/shell
/cmds/shell/TRAN/shell
/cmds/textutil/ARM/colrm
/cmds/textutil/ARM/comm
/cmds/textutil/ARM/diff
/cmds/textutil/ARM/egrep
/cmds/textutil/ARM/fgrep
/cmds/textutil/ARM/fold
/cmds/textutil/ARM/grep
/cmds/textutil/ARM/head
/cmds/textutil/ARM/join
/cmds/textutil/ARM/leave
/cmds/textutil/ARM/more
/cmds/textutil/ARM/pr
/cmds/textutil/ARM/rev
/cmds/textutil/ARM/sort
/cmds/textutil/ARM/split
/cmds/textutil/ARM/strings
/cmds/textutil/ARM/tail
/cmds/textutil/ARM/uniq
/cmds/textutil/ARM/wc
/cmds/textutil/ARM/xlatecr
/cmds/textutil/ARM/yes
/cmds/textutil/TRAN/colrm
/cmds/textutil/TRAN/comm
/cmds/textutil/TRAN/diff
/cmds/textutil/TRAN/egrep
/cmds/textutil/TRAN/fgrep
/cmds/textutil/TRAN/fold
/cmds/textutil/TRAN/grep
/cmds/textutil/TRAN/head
/cmds/textutil/TRAN/join
/cmds/textutil/TRAN/leave
/cmds/textutil/TRAN/more
/cmds/textutil/TRAN/pr
/cmds/textutil/TRAN/rev
/cmds/textutil/TRAN/sort
/cmds/textutil/TRAN/split
/cmds/textutil/TRAN/strings
/cmds/textutil/TRAN/tail
/cmds/textutil/TRAN/uniq
/cmds/textutil/TRAN/wc
/cmds/textutil/TRAN/xlatecr
/cmds/textutil/TRAN/yes
/demos/mswin/TRAN/arctest.tst
/demos/mswin/TRAN/bkcolor.tst
/demos/mswin/TRAN/bktest.tst
/demos/mswin/TRAN/devcaps.tst
/demos/mswin/TRAN/exttest.tst
/demos/mswin/TRAN/flood.tst
/demos/mswin/TRAN/linecol.tst
/demos/mswin/TRAN/lines.tst
/demos/mswin/TRAN/metafill.tst
/demos/mswin/TRAN/metaline.tst
/demos/mswin/TRAN/metalook.tst
/demos/mswin/TRAN/mousetst.tst
/demos/mswin/TRAN/mslights
/demos/mswin/TRAN/pallight
/demos/mswin/TRAN/paltest.tst
/demos/mswin/TRAN/pixtest.tst
/demos/mswin/TRAN/plyfll.tst
/demos/mswin/TRAN/polyfill.tst
/demos/mswin/TRAN/prnline.tst
/demos/mswin/TRAN/sonolook.tst
/demos/mswin/TRAN/texttest.tst
/demos/rmlib/buildrm/TRAN/buildrm
/demos/rmlib/mappipe/TRAN/mappipe
/demos/rmlib/owners/TRAN/owners
/demos/servers/keyboard/TRAN/keyboard
/filesys/cmds/TRAN/access
/filesys/cmds/TRAN/de
/filesys/cmds/TRAN/fsformat
/filesys/cmds/TRAN/fsync
/filesys/cmds/TRAN/gdi
/filesys/cmds/TRAN/matrix
/filesys/cmds/TRAN/sync
/filesys/cmds/TRAN/termfs
/filesys/fs/TRAN/fs
/filesys/ufs/C40/ufs
/filesys/ufs/TRAN/ufs
/filesys/ufs/cmds/C40/disklabel
/filesys/ufs/cmds/C40/mknod
/filesys/ufs/cmds/C40/newfs
/filesys/ufs/cmds/C40/tunefs
/filesys/ufs/fsck/C40/fsck
/filesys/ufs/fsck/TRAN/fsck
/ioproc/mswin/lib/ARM/ddetest
/ioproc/mswin/lib/ARM/fred
/ioproc/mswin/lib/ARM/gditest
/ioproc/mswin/lib/ARM/hello
/ioproc/mswin/lib/ARM/mslights
/ioproc/mswin/lib/ARM/startws
/ioproc/mswin/lib/TRAN/ddetest
/ioproc/mswin/lib/TRAN/gditest
/ioproc/mswin/lib/TRAN/hello
/ioproc/mswin/lib/TRAN/mslights
/ioproc/mswin/lib/TRAN/startws
/ioproc/mswin/printer/ARM/printgrf
/ioproc/mswin/printer/ARM/prngrfx
/ioproc/server/I486V4/debug
/ioproc/server/I486V4/helios.h
/ioproc/server/I486V4/hydra
/ioproc/server/I486V4/hydramon
/ioproc/server/I486V4/server
/ioproc/server/MINIX/helios.h
/ioproc/server/MINIX/hydra
/ioproc/server/MINIX/hydramon
/ioproc/server/MINIX/server
/ioproc/server/R140/aserver
/ioproc/server/R140/helios.h
/ioproc/server/R140/hydra
/ioproc/server/R140/hydramon
/ioproc/server/RS6000/helios.h
/ioproc/server/RS6000/hydra
/ioproc/server/RS6000/hydramon
/ioproc/server/RS6000/server
/ioproc/server/RS6000/serverwinxaw
/ioproc/server/RS6000/serverwinxt
/ioproc/server/SCO/scobin/hydra
/ioproc/server/SCO/scobin/hydramon
/ioproc/server/SCO/scobin/server
/ioproc/server/SUN3/helios.h
/ioproc/server/SUN3/hydra
/ioproc/server/SUN3/hydramon
/ioproc/server/SUN3/server
/ioproc/server/SUN3/serverwinsv
/ioproc/server/SUN3/serverwinxaw
/ioproc/server/SUN3/serverwinxt
/ioproc/server/SUN4/helios.h
/ioproc/server/SUN4/hydra
/ioproc/server/SUN4/hydramon
/ioproc/server/SUN4/server
/ioproc/server/SUN4/serverwinsv
/ioproc/server/SUN4/serverwinxaw
/ioproc/server/SUN4/serverwinxt
/ioproc/server/SUN4/serverwinxv
/network/C40/RmLib
/network/C40/clink
/network/C40/crash
/network/C40/diag_ns
/network/C40/diag_sm
/network/C40/diag_tfm
/network/C40/dlink
/network/C40/domain
/network/C40/elink
/network/C40/findns
/network/C40/findsm
/network/C40/findtfm
/network/C40/id
/network/C40/joinnet
/network/C40/kill
/network/C40/kill.sp
/network/C40/loaded
/network/C40/loaded.sp
/network/C40/login
/network/C40/login.sp
/network/C40/login.ss
/network/C40/logname
/network/C40/lstatus
/network/C40/netagent
/network/C40/netserv
/network/C40/network
/network/C40/newuser
/network/C40/newuser.su
/network/C40/passadm
/network/C40/plink
/network/C40/ps
/network/C40/ps.sp
/network/C40/rebootio
/network/C40/remote
/network/C40/remote.nrm
/network/C40/rmgen
/network/C40/run
/network/C40/sendto
/network/C40/session
/network/C40/session.sp
/network/C40/startns
/network/C40/startns.64
/network/C40/startns.any
/network/C40/startns.sp
/network/C40/tfm
/network/C40/stopio
/network/C40/tfm.sp
/network/C40/tty
/network/C40/uptime
/network/C40/users
/network/C40/wall
/network/C40/who
/network/C40/whoami
/network/C40/write
/network/C40/wsh
/network/C40/wsh.sp
/network/RS6000/rmgen
/network/TRAN/RmLib
/network/TRAN/clink
/network/TRAN/crash
/network/TRAN/diag_ns
/network/TRAN/diag_sm
/network/TRAN/diag_tfm
/network/TRAN/dlink
/network/TRAN/domain
/network/TRAN/elink
/network/TRAN/findns
/network/TRAN/findsm
/network/TRAN/findtfm
/network/TRAN/id
/network/TRAN/joinnet
/network/TRAN/kill
/network/TRAN/kill.sp
/network/TRAN/loaded
/network/TRAN/loaded.sp
/network/TRAN/login
/network/TRAN/login.sp
/network/TRAN/login.ss
/network/TRAN/logname
/network/TRAN/lstatus
/network/TRAN/netagent
/network/TRAN/netserv
/network/TRAN/network
/network/TRAN/newuser
/network/TRAN/newuser.su
/network/TRAN/pa_rboot
/network/TRAN/pa_reset
/network/TRAN/passadm
/network/TRAN/plink
/network/TRAN/ps
/network/TRAN/ps.sp
/network/TRAN/rboot
/network/TRAN/rebootio
/network/TRAN/remote
/network/TRAN/remote.nrm
/network/TRAN/rmgen
/network/TRAN/run
/network/TRAN/sendto
/network/TRAN/session
/network/TRAN/session.sp
/network/TRAN/startns
/network/TRAN/startns.64
/network/TRAN/startns.any
/network/TRAN/startns.sp
/network/TRAN/stopio
/network/TRAN/tfm
/network/TRAN/tfm.sp
/network/TRAN/tr_reset
/network/TRAN/tty
/network/TRAN/uptime
/network/TRAN/users
/network/TRAN/wall
/network/TRAN/who
/network/TRAN/whoami
/network/TRAN/write
/network/TRAN/wsh
/network/TRAN/wsh.sp
/network/meiko/TRAN/rte_c.d
/network/meiko/TRAN/rte_ra.d
/network/packages/farmlib/TRAN/farmtest
/network/packages/farmlib/TRAN/pi
/network/packages/farmlib/TRAN/pi2
/network/packages/farmlib/TRAN/pi3
/network/packages/farmlib/TRAN/testaux
/network/packages/hwtests1/TRAN/hwtest
/network/packages/tftests/TRAN/tftests
/network/packages/tftests/TRAN/worker
/network/telmat/TRAN/telmat_c.d
/network/telmat/TRAN/telmat_r.d
/sa/TRAN/sainit
/sa/TRAN/salib
/sa/TRAN/salink
/sa/TRAN/sarun
/nucleus/C40/alias.sa
/nucleus/C40/fifo.dl
/nucleus/C40/nucleus
/nucleus/C40/nucleus.small
/nucleus/C40/nucleus.sml
/nucleus/C40/null.dl
/nucleus/C40/pipe.dl
/nucleus/C40/ram.dl
/nucleus/TRAN/alias.sa
/nucleus/TRAN/fifo.dl
/nucleus/TRAN/nucleus
/nucleus/TRAN/nucleus.srv
/nucleus/TRAN/null.dl
/nucleus/TRAN/pipe.dl
/nucleus/TRAN/ram.dl
/nucleus/TRAN/syslib.sa
/scanlibs/bsd/TRAN/bsdasm.a
/scanlibs/vectlib/TRAN/vectest
/servers/include/ARM/buildinc
/servers/include/ARM/include
/servers/include/ARM/stopinc
/servers/include/TRAN/buildinc
/servers/include/TRAN/include
/servers/include/TRAN/stopinc
/servers/keyboard/ARM/keybug
/servers/keyboard/ARM/keytest
/servers/lock/ARM/lockserv
/servers/lock/ARM/locktest
/servers/lock/TRAN/lockserv
/servers/lock/TRAN/locktest
/servers/msdosfs/ARM/dos.dbg
/servers/msdosfs/ARM/dostest
/servers/msdosfs/TRAN/dostest
/servers/servtask/TRAN/nucleus.srv
/servers/servtask/TRAN/slumber
/servers/ttyserv/ttyserv/ARM/setterm
/servers/ttyserv/ttyserv/ARM/ttyserv
/servers/ttyserv/ttyserv/TRAN/setterm
/servers/ttyserv/ttyserv/TRAN/ttyserv
/tcpip/TRAN/Example
/tcpip/TRAN/dbfiles
/tcpip/TRAN/demos
/tcpip/TRAN/helios
/tcpip/TRAN/localinstall
/tcpip/TRAN/net
/tcpip/TRAN/proto
/tcpip/TRAN/sockets
/tcpip/TRAN/tcpip
/tcpip/cmds/binmail/TRAN/mail
/tcpip/cmds/ftp/TRAN/ftp
/tcpip/cmds/ftpd/TRAN/ftpd
/tcpip/cmds/inetd/TRAN/inetd
/tcpip/cmds/lpr/TRAN/lpc
/tcpip/cmds/lpr/TRAN/lpd
/tcpip/cmds/lpr/TRAN/lpd_aux
/tcpip/cmds/lpr/TRAN/lpq
/tcpip/cmds/lpr/TRAN/lpr
/tcpip/cmds/lpr/TRAN/lprm
/tcpip/cmds/lpr/TRAN/lptest
/tcpip/cmds/lpr/TRAN/utils
/tcpip/cmds/ping/TRAN/pall
/tcpip/cmds/ping/TRAN/ping
/tcpip/cmds/rcp/TRAN/rcp
/tcpip/cmds/rexecd/TRAN/rexecd
/tcpip/cmds/rlogin/SUN4/rlogin
/tcpip/cmds/rlogin/TRAN/rlogin
/tcpip/cmds/rlogind/TRAN/rlogind
/tcpip/cmds/route/TRAN/route
/tcpip/cmds/rsh/TRAN/rsh
/tcpip/cmds/rshd/TRAN/rshd
/tcpip/cmds/sendmail/TRAN/common
/tcpip/cmds/sendmail/TRAN/sendmail
/tcpip/cmds/sendmail/TRAN/smtp
/tcpip/cmds/telnet/TRAN/telnet
/tcpip/cmds/telnetd/TRAN/telnetd
/tcpip/cmds/tftp/TRAN/tftp
/tcpip/example/TRAN/socket
/tcpip/helios/TRAN/helios
/tcpip/laserp/TRAN/laserpri
/tcpip/net/TRAN/net
/tcpip/netinet/TRAN/proto
/tcpip/nfs/TRAN/mount.h
/tcpip/nfs/TRAN/mount_clnt.c
/tcpip/nfs/TRAN/mount_xdr.c
/tcpip/nfs/TRAN/nfs_prot.h
/tcpip/nfs/TRAN/nfs_prot_clnt.c
/tcpip/nfs/TRAN/nfs_prot_xdr.c
/tcpip/nfs/TRAN/hmount
/tcpip/nfs/TRAN/nfsx
/tcpip/sys/TRAN/sockets
/tcpip/tinybiff/TRAN/tinybiff
